*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    
}

body{
    background-color: lightgray;
    /* max-height: 100%; */
}

header{
    height: 11vh;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#logo{
    position: absolute;
    left: 20px;
    top: 30%;
    width: 20vh;
}

.container{
    position: relative;
}

.spices{
    filter: brightness(65%);
}

h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 5vw;
    margin: 0;
}

button{
    background-color: rgb(255, 208, 0);
    border-radius: 30px;
    border: 2px solid rgb(218, 105, 0);
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 6vw;
    font-size: 3vw;
    color: rgb(255, 123, 0);
}

.containergrey{
    height: 52vh;
}

footer{
    background-color: rgb(94, 94, 94);
    height: 40px;
    width: 100%;
    z-index: 99;
    bottom: 0;
    position: fixed;
}

#menu{
    height: 6vh;
    position: absolute;
    right: 20px;
    top: 30%;
}

.small-pictures{
    width: 5vw;
}

#footer-text{
    margin: 5px;
    padding: 5px;
}

.content {
    margin: 10px 20px 10px 20px;
    align-items: center;
    font-size: 1.2rem;
}

#last-p {
    padding-bottom: 80px;
}


@media screen and (max-width: 768px){
    .content{
        margin: 5% 2% 5% 17%;
    }
    .containergrey{
        height: 50vh;
    }
    #last-p{
    padding-bottom: 100px;
    }
    .small-pictures{
        width: 10vw;
        position: absolute;
        left: 3%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #3f3f3f;
        color: white;
    }
}
