*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}


#canvas {
    border: 3px solid red;
}


#man{
    border: 3px solid black;
    z-index: 999;
    position: absolute;
}

#manOriginal{
    border: 3px solid green;
}

#fillscreen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}